html {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-black : #2f281e;
  --second-black : #544837;
  --main-orange : #FF9900;
}

.font-16 {
  font-size: 16px !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.text-main-black {
  color: var(--main-black) !important;
}

.text-main-orange {
  color: var(--main-orange) !important;
}

.btn-primary {
  background: var(--main-orange);
  border: 0;
  font-size: 16px;
  padding: 11px 40px;
  font-weight: bold;
}

.btn-primary:hover {
  background: #d68408;
}

.btn-secondary {
  background: none;
  border: solid 1px #bcd0e5;
  font-size: 16px;
  padding: 11px 40px;
  font-weight: bold;
  color: #173a56;
}

.btn-secondary:hover {
  background: #bcd0e5;
  color: #173a56;
}

h1 {
  color: var(--main-black);
}

h3 {
  color: var(--main-black);
  font-size: 36px;
}

p {
  font-size: 16px;
  color: var(--second-black);
  font-weight: 500;
}