html {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-black: #2f281e;
  --second-black: #544837;
  --main-orange: #FF9900;
}

.font-16 {
  font-size: 16px !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semibold {
  font-weight: 600 !important;
}

.text-main-black {
  color: var(--main-black) !important;
}

.text-main-orange {
  color: var(--main-orange) !important;
}

.btn-primary {
  background: var(--main-orange);
  border: 0;
  font-size: 16px;
  padding: 11px 40px;
  font-weight: bold;
}

.btn-primary:hover {
  background: #d68408;
}

.btn-secondary {
  background: none;
  border: solid 1px #bcd0e5;
  font-size: 16px;
  padding: 11px 40px;
  font-weight: bold;
  color: #173a56;
}

.btn-secondary:hover {
  background: #bcd0e5;
  color: #173a56;
}

h1 {
  color: var(--main-black);
}

h3 {
  color: var(--main-black);
  font-size: 36px;
  font-weight: bold;
}

h5 {
  color: var(--main-black);
  font-size: 22px;
}

h6 {
  color: var(--main-black);
  font-size: 16px;
}

p {
  font-size: 16px;
  color: var(--second-black);
  font-weight: 500;
}

.tools {
  background: url('../images/bg-first.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

.testimoni {
  background: url('../images/bg-second.jpg');
  background-position: top;
  background-repeat: no-repeat;
  padding: 250px 0;
}

.marketing h5 {
  color: var(--main-black);
  font-size: 24px;
}

.marketing .box:hover h5 {
  color: var(--main-orange);
  text-decoration: var(--main-orange);
}

.glider-contain {
  width: 80% !important;
}

.glider-slide {
  border: none !important;
  height: 100% !important;
}

.glider-contain .glider-slide img {
  height: 185px !important;
}

.glider-dot {
  background-color: #EFEFEF !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 16px !important;
  border: none !important;
}

.glider-dot.active {
  background-color: var(--main-orange) !important;
}